<style>
body {
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

.success {
  font-weight: bold;
  color: green;
}

.catname {
  font-size: 18px;
  font-weight: bold;
</style>

<h1>All Cats in the Database:</h1>

<% if flash['success'] %>
  <p class='success'><%= flash['success'] %></p>
<% end %>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <a href='cats/<%= cat.id %>'>
        <span class="catname"><%= cat.name %></span>
      </a> <br /> Owned By: <%= cat.owner %></li>
  <% end %>
</ul>

<a href="/cats/new">New Cat!</a>
