<h1>ALL THE CATS</h1>

<% if flash['success'] %>
  <p><%= flash['success'] %></p>
<% end %>

<ul>
  <% @cats.each do |cat| %>
    <li><%= cat['name'] %> | Owned By: <%= cat['owner'] %></li>
  <% end %>
</ul>

<a href="/cats/new">New Cat!</a>
