<style>
body {
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

input[type='submit'] {
  border: 0;
  padding: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.error {
  font-weight: bold;
  color: red;
}

input {
  margin-bottom: 10px;
  display: block;
}
</style>
<h1>Create a New Cat:</h1>
<% if flash['error'] %>
  <p class="error"><%= flash['error'] %></p>
<% end %>

<form action="/cats" method="POST">
  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <input type="text" name="cat[owner]" value="<%= @cat.owner %>">
  </label>

  <input type="submit">
</form>
